/************************************/
/* font */
/*************************************/
 
@font-face {
    font-family: 'Montserrat';
    src: url('./font/Montserrat-Bold.woff2') format('woff2'),
        url('./font/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('./font/Montserrat-SemiBold.woff2') format('woff2'),
        url('./font/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('./font/Montserrat-Regular.woff2') format('woff2'),
        url('./font/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body
{
  margin: 0px;
}

/********************************/
/*header*/
/*********************************/
a
{
  text-decoration: none;
}
.header 
{
  display: flex;
  justify-content: center;
  align-items: flex-end;
    
  width: 1912px;
  height: 790px;
  background-image: url(./img/header/background.jpg);
  
}
.header_content
{   display: flex;
    justify-content: flex-start;
    width: 1206px;
    height: 775px;
    background-color: ;
}
.header_logo
{
 margin-left: 30px;
 margin-top: 3px;
}
.header_logo_text
{ display: flex;
  font-family: 'Montserrat';
  font-size: 17px;
  line-height: 20.72px;
  font-style: normal;
  color: #D7A100;
  margin-top: -15px;
  margin-left: 8px;

}
.text_logo2
{
    font-family: 'Montserrat';
  font-size: 17px;
  line-height: 20.72px;
  font-style: normal;
  color: #242424;
  margin-left: 5px;
}
.Design_Studio p
{
    font-family: 'Montserrat-Regular';
    font-size: 12px;
    font-style: normal;
    line-height: 15px;
    color: #242424;
    margin-top: 23px;
    margin-left: -98px;
    

}
.ico_watsap
{
    margin-left: 540px;
    margin-top: 6px;
}
.ico_telegram
{
    margin-left: 20px;
    margin-top: 6px;
}
.text_contacts a
{   
    display: flex;
    margin-left: 15px;
    margin-top: 10px;
    font-family: Montserrat;
    font-size: 15px;
    line-height: 18.29px;
    font-style: normal;
    color: #242424;
    opacity: 0.7;
}
.button1 a
{   display: flex;
    justify-content: center;
    align-items: center;
    width: 196px;
    height: 40px;
    font-size: 13px;
    line-height: 15.85px;
    background-color: #FFBF00;;
    color: #242424;
    margin-left: 51px;
}

.text_create_design p
{

    
    justify-content: flex-start;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    color: #242424;
    margin-left: -984px;
    margin-top: 200px;

}

.text_create_design2 p
{ 
    display: flex;
    justify-content: center;
    width: 810px;
    height: 104px;

    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    color: #242424;
    margin-top: 260px;
    margin-left: -990px;
    background-color: ;
}

.text_from_300_rubles 
{
    display: flex;
    justify-content: flex-start;

    width: 111px;
    height: 18px;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    line-height: 18.29px;
    color: #242424;
     margin-top: 350px;
     margin-left: -625px;
    
}
.text_Free_consultation
{
    display: flex;
    font-family: 'Montserrat-Regular';
    font-size: 15px;
    font-style: normal;
    line-height: 22px;
    color: #000000;
    margin-top: 410px;
    margin-left: -180px;
}
.button2 p
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 45px;
    font-family: 'Montserrat-SemiBold';
    font-size: 13px;
    font-style: normal;
    line-height: 16px;
    color: #242424;
    margin-top: 500px;
    margin-left: -280px;
    background-color: #FFBF00;
}





/****************************************************/
/*Content*/
/***************************************************/

.main
{ display: flex;
    justify-content: center;
    align-items: flex-start;
  width: 1912px;
  height: 547px;
}

.main_content
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1206px;
    height: 547px;
    
}

.img_pngwing1 img
{
    
    margin-left: 1px;
    margin-top: 23px;

}

.text_individuality_in_each
{
    display: flex;
    width: 650px;
    height: 70px;
    margin-top: -430px;
    margin-left: 50px;
}

.text_individuality_in_each p 
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-size: 40px;
    line-height: 55px;
    font-style: normal;
}

.text_individuality_in_each2 p 
{    display: flex;
    align-items: flex-end;
    font-family: 'Montserrat-Regular';
    font-size: 15px;
    line-height: 30px;
    font-style: normal;
    
}

.text_individuality_in_each2
{
    display: flex;

    margin-top: -200px;

    margin-left: -505px;

   
}


.text_Concept_Design p
{
   
   white-space: nowrap;
   font-family: 'Montserrat';
   font-size: 15px;
   font-style: normal;
   line-height: 18.29px;
   color: #242424;
   position: absolute; top: 990px; right: 495px;

}

.text_Concept_Design2 p 
{
  font-family: 'Montserrat-Regular';
  font-size: 15px;
  line-height: 30px;
  color: #000000;
  width: 440px;
  position: absolute;top: 1020px;right: 455px;
}

.main_content3
{
    width: 1912px;
    height: 504px;
    position: absolute; top: 1300px; right: ;
}

.content3
{   
   
    width: 814px;
    height: 504px;
}

.img-modern-house-interior2
 {
   width: 1125px;
   height: 164px;
   position: absolute; top: 315px; right: ;
}

.text_people_who_decide_to_make_repairs p
{
  font-family: 'Montserrat';
  font-size: 40px;
  line-height: 55px;
  width: 770px;
  position: absolute; top: 98px; left: 1000px;
}

.text2_people_who_decide_to_make_repairs p 
{
    font-family: 'Montserrat-Regular';
    font-size: 15px;
    line-height: 30px;
    color: #000000;
    width: 400px;
    position: absolute; top: 300px; left: 1000px;
}

.line1
{   
    width: 257px;
    height: 9px;
    background-color: #FFBF00;
    position: absolute; top: 135px; left: 995px;
}

.line2
{   
    width: 478px;
    height: 9px;
    background-color: #FFBF00;
    position: absolute; top: 245px; left: 997px;
}

.main_content4
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 1912px;
    height: 1350px;
    

}



.content_container
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 1206px;
    height: 1000px;
    margin-top: 500px;
    
}

.text_Design_project_repair
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 680px;
    margin-left: 200px;

}

.text_Design_project_repair p
{    

    font-family: 'Montserrat';
    font-size: 40px;
    line-height: 55px;
    color: #242424;
    z-index: 999;
}

.line3
{
    width: 587px;
    height: 9px;
    background-color: #FFBF00;
    position: absolute; top: 1875px; left: 715px;
}

.ico_house-plan1 
{
    position: absolute; top: 2050px; left: 400px;
 
}

.ico2_house-plan1
{
   position: absolute; top: 2050px; left: 420px;
 
}

.text_house-plan1
{
    font-family: 'Montserrat-Regular';
    font-size: 15px;
    line-height: 30px;
    width: 420px;
  
 position: absolute; top: 2025px; left: 540px;

}

.ico3_house-plan1
{
    position: absolute; top: 2250px; left: 400px;
}

.ico-floor1
{
   
   position: absolute; top: 2280px; left: 420px;

}


.text_house-plan1
{
    font-family: 'Montserrat-Regular';
    font-size: 15px;
    line-height: 30px;
    width: 420px;

}

.text2_house-plan1 
{
    font-family: 'Montserrat-Regular';
    font-size: 15px;
    line-height: 30px;
    width: 380px;
    position: absolute; top: 2260px; left: 530px;
}

.ico4_house-plan1
{    
    position: absolute; top: 2250px; left: 950px;

}

.ico5_house-plan1
{
    position: absolute; top: 2280px; left: 970px;
}

.text3_house-plan1
{   font-family: 'Montserrat-Regular';
    font-size: 15px;
    line-height: 30px;
    width: 460px;
    position: absolute; top: 2250px; left: 1070px;
}

.ico6_house-plan1
{
     position: absolute; top: 2050px; left: 950px;
}

.ico7_house-plan1
{
     position: absolute; top: 2050px; left: 970px;
}

.text4_house-plan1
{
     font-family: 'Montserrat-Regular';
    font-size: 15px;
    line-height: 30px;
    width: 385px;
    position: absolute; top: 2040px; left: 1070px;
}

.ico8_house-plan1
{
     position: absolute; top: 2450px; left: 400px;
}

.ico9_house-plan1
{
    position: absolute; top: 2485px; left: 415px;
}

.text5_house-plan1
{
    font-family: 'Montserrat-Regular';
    font-size: 15px;
    line-height: 30px;
    width: 1000px;
    position: absolute; top: 2485px; left: 530px;
}

.button_I_want_so
{  
    width: 280px;
    height: 45px;
    background-color: #FFBF00;
   position: absolute; top: 2640px; left: 800px;
}


.button_I_want_so p
{    

    display: flex;
    font-family: 'Montserrat-SemiBold';
    font-size: 13px;
    line-height: 15.85px;
    color: #242424;
    margin-left: 110px;
    margin-top: 15px;
   
}


.main_content5
{   display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 1912px;
    height: 800px;
}

.content_container_2
{
    width: 1260px;
    height: 700px;
      
}

.text_Our_projects
{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.text_Our_projects p
{
    font-family: 'Montserrat';
    font-size: 40px;
    line-height: 55px;
    color: #242424;
    z-index: 9999;
}

.text2_Our_projects
{
   display: flex;
   justify-content: center;
   margin-top: 10px;
}

.text2_Our_projects p
{
    font-family: 'Montserrat';
    font-size: 15px;
    line-height: 18.29px;
    color: #242424;
}

.line4
{
    width: 190px;
    height: 10px;
    background-color: #FFBF00;
    position: relative; top: 97px; left: 600px;
}

#carouselExampleControls1
{
    width: 553px;
    height: 335px;
    position: relative;top: 90px; left: 50px;
}

#carouselExampleControls2
{
    width: 553px;
    height: 335px;
    position: relative;top: -330px; left: 600px;
}

.main_content6
{   display: flex;
    justify-content: center;
    width: 1912px;
    height: 450px;
    margin-top: -100px;
    
}

.content_container_3
{   display: flex;
    flex-direction: column;
    width: 1206px;
    height: 450px;
}

.blok1
{  justify-content: center;
  display: flex;
  width: 1206px;
  height: 60px;
 
}

.line6
{
   width: 303px;
   height: 10px;
   background-color: #FFBF00;
  margin-top: -33px;

}

.text_aesthetic_code
{
   font-family: 'Montserrat';
   font-size: 40px;
   line-height: 55px;
   color: #242424;

}

.blok2
{
    display: flex;
    justify-content: flex-end;
  width: 650px;
  height: 250px;
  margin-top: 104px;
  margin-left: 30px;
 
}


.blok3
{ 
  display: flex;
  width: 448px;
  height: 141px;
  margin-top: -200px;
  margin-left: 716px;
  
}

.text2_aesthetic_code
{
    font-family: 'Montserrat-Regular';
    font-size: 15px;
    line-height: 30px;
    color: #000000;

}


.main_content7
{   

    display: flex;
    justify-content: center;
    width: 1912px;
    height: 900px;
}

.content_container_5
{
   display: flex;
   flex-direction: column;
   width: 1206px;
   height: 850px;
  
}

.container_5_blok1
{
  display: flex;
  justify-content: center;
  width: 1206px;
  height: 60px;
 
}

.text_How_it_works
{ 
    font-family: 'Montserrat';
    font-size: 40px;
    line-height: 55px;
    color: #242424;
}

.line5
{
    width: 280px;
    height: 10px;
    margin-top: -34px;
    margin-left: 85px;
    background-color: #FFBF00;
}

.container_blok2
{
  display: flex;
  width: 700px;
  height: 20px;
     margin-top: 30px;
    margin-left: 261px;
 
}

.text2_How_it_works
{
  font-family: 'Montserrat';
    font-size: 15px;
    line-height: 18.29px;
    color: #242424;

}

.container_blok3
{
    display: flex;
    width: 1205px;
    height: 90px;
    margin-top: 49px;

    
}

.ico-01
{
    margin-left: 31px;
}

.ico-orker1
{
    margin-left: -100px;
}

.ico-02
{
    margin-left: 320px;
}

.ico-flowchart1
{
    margin-left: -140px;
}

.ico-3
{
    margin-left: 330px;
}

.ico-testing1
{
 margin-left: -140px;
}

.container_blok4
{
    display: flex;
    width: 1000px;
    height: 20px;
    margin-top: 100px;
    margin-left: -885px;
     

}

.text_Step1
{
  font-family: 'Montserrat-Regular';
  font-size: 15px;
  line-height: 30px;
  color: #000000;
  margin-left: 31px;
}

.text_Step2
{
    font-family: 'Montserrat-Regular';
  font-size: 15px;
  line-height: 30px;
  color: #000000;
  margin-left: 330px;
}

.text_Step3
{
    font-family: 'Montserrat-Regular';
  font-size: 15px;
  line-height: 30px;
  color: #000000;
  margin-left: 328px;
}

.container_blok5
{
    display: flex;
    align-items: flex-start;
    width: 1130px;
    height: 20px;
    margin-top: 130px;
    margin-left: -1000px;
    
}

.text1_blok5
{
    font-family: 'Montserrat';
    font-size: 15px;
    line-height: 18.29px;
    color: #242424;
    margin-left: 30px;



}

.text2_blok5
{
    font-family: 'Montserrat';
    font-size: 15px;
    line-height: 18.29px;
    color: #242424;
    margin-left: 255px;
}

.text3_blok5
{
    font-family: 'Montserrat';
    font-size: 15px;
    line-height: 18.29px;
    color: #242424;
    margin-left: 260px;
}


.container_blok6
{   display: flex;
    width: 1170px;
    height: 130px;
    margin-top: 160px;
    margin-left: -1130px;


   
}

.text1_blok6 p
{   
    width: 362px;
    height: 106px;
   font-family: 'Montserrat-Regular';
  font-size: 15px;
  line-height: 30px;
  color: #000000;
  margin-left: 30px;
}

.text2_blok6
{
     font-family: 'Montserrat-Regular';
  font-size: 15px;
  line-height: 30px;
  color: #000000;
  margin-left: 25px;
}
.text3_blok6 p
{   width: 362px;
    height: 108px;
     font-family: 'Montserrat-Regular';
  font-size: 15px;
  line-height: 30px;
  color: #000000;
  margin-left: 12px;
}


.container_blok7
{
      display: flex;
    width: 600px;
    height: 100px;
    margin-top: 320px;
    margin-left: -1170px;
    
}

.ico-04
{
  margin-left: 31px;
}

.ico-project-management1
{
 margin-left: -150px;
}

.ico-05
{
  margin-left: 320px;
}

.ico-3d1
{
  margin-left: -140px;
}

.container_blok8
{
    display: flex;
    width: 500px;
    height: 30px;
    margin-top: 425px;
    margin-left: -600px;

      
}

.text1_blok8
{
     font-family: 'Montserrat-Regular';
  font-size: 15px;
  line-height: 30px;
  color: #000000;
  margin-left: 31px;
}

.text2_blok8
{
    font-family: 'Montserrat-Regular';
  font-size: 15px;
  line-height: 30px;
  color: #000000;
  margin-left: 328px;
}

.container_blok9
{
    display: flex;
    width: 800px;
    height: 160px;
    margin-top: 470px;
    margin-left: -500px;

    
}

.text3_blok8 h3
{
  font-family: 'Montserrat';
  font-size: 15px;
  line-height: 18.29px;
  color: #242424;
  margin-left: 31px;
}

.text4_blok8 h3
{
   font-family: 'Montserrat';
  font-size: 15px;
  line-height: 18.29px;
  color: #242424;
  margin-left: 47px;
}

.text3_blok8 p
{  width: 345px;
    height: 79px;
   font-family: 'Montserrat-Regular';
  font-size: 15px;
  line-height: 30px;
  color: #000000;
  margin-left: 31px;
}

.text4_blok8 p
{  
    width: 362px;
    height: 108px;
   font-family: 'Montserrat-Regular';
  font-size: 15px;
  line-height: 30px;
  color: #000000;
  margin-left: 47px;
}


.container_blok10
{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 280px;
    height: 45px;
    background-color: #FFBF00;
    margin-top: 640px;
    margin-left: -320px;

}

.button_blok10 p
{
  font-family: 'Montserrat-SemiBold';
  font-size: 13px;
  line-height: 15.85px;
  color: #242424;
  margin-top: 15px;
}



.main_content8
{   display: flex;
    justify-content: center;
    width: 1912px;
    height: 700px;

    background-color: #d20ab3;

}

.container6
{
    display: flex;
   flex-direction: column;
   align-items: center;
   width: 1206px;
   height: 700px;
   background-color: #085caa;
}

.containet6_blok1
{
    display: flex;
    width: 180px;
    height: 20px;
    margin-left: -20px;
    background-color: #089859;
}

.containet6_blok2
{
    display: flex;
    width: 400px;
    height: 50px;
    margin-top: 30px;
    margin-left: 200px;

    background-color: #089859;
}

.text1_containet6_blok1
{
    font-family: 'Montserrat';
    font-size: 15px;
    line-height: 18.29px;
    color: #242424;
}

.text2_containet6_blok2
{
    font-family: 'Montserrat';
    font-size: 40px;
    line-height: 55px;
    color: #242424;
}

.container6_blok3
{
    display: flex;
    margin-left: -780px;
    margin-top: -100px;
}

.container6_blok4
{   display: flex;
    width: 25px;
    height: 75px;
    margin-top: -310px;
    margin-right: 180px;
}

.container6_blok5
{
    display: flex;
    width: 650px;
    height: 200px;
    margin-left: 530px;
    margin-top: -73px;
    background-color: #089859;
}

.ico_check_mark
{
  width: 25px;
  height: 65px;
}

.text_container6_blok4 h3 
{  
    display: flex;
   font-family: 'Montserrat-Regular';
   font-size: 15px;
   line-height: 30px;
   color: #000000;
   width: 648px;

}


.text_container6_blok4 p
{    
    display: flex;
     font-family: 'Montserrat-Regular';
   font-size: 15px;
   line-height: 30px;
   width: 686px;
   color: #000000;
   margin-top: 20px;
}
/************************************************/
/*footer*/
/************************************************/
